table {
    width: 80%;
    border: 1px solid black;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

tr {
    text-align: center;
    border-bottom: 1px solid #000000;
    width: 100%;

}

#bookFunctions {
    width: 80%;
    margin: auto;
}