#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

table {
    width: 80%;
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

tr {
    text-align: center;
    border-bottom: 1px solid #000000;
    width: 100%;

}

#bookFunctions {
    width: 80%;
    margin: auto;
}

#cardPopup {
    z-index: 10;
    margin: auto;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.452));
    margin-top: 20vh;
    width: 60vw;
    height: 70vh;
    background: linear-gradient(to right, #000000, #36303091, #00000087, #000000);

}

#bookForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;


}

#bookForm label {
    color: white;
    font-size: 5vh;
}

#bookForm input {
    height: 4vh;
    width: fit-content;
    border-radius: 10px;
}